# Xcode
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.xcodeproj

#Release
*.app
*.dmg

# Swift Package Manager
.build/
.swiftpm/

#VS Code
.vscode/

# macOS
.DS_Store
*.dSYM
